/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* HEADER STYLES */
header {
    width: 100%;
    border-bottom: 1px solid black;
}
.logo-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
}



/* MAIN STYLES START*/

main {

}

.main-container {
  display: flex;
  justify-content: space-around;
  margin: 5% 0;
}

.card-container {
  padding: 20px;
  display: inline-block;
  background-color: #414b52;
  color: #fff;
  border-radius: 3px;
}

.card-container:hover {
  outline: 2px solid blueviolet;
}

.card {
  width: 18em;
  height: 18em;
  text-align: center;
}

.card-text {
  font-size: 1.5em;
}

.user-photo {
  width: 100%;
  height: 100%;
}


/* BUTTON STYLES START */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}
.generete-btn {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  margin: 2px 0;

  /* невидимая рамка */
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 0.85em 0.75em;
  color: #ffffff;
  background-color: #9555af;
}

.generete-btn:active {
  transform: translateY(1px);
  filter
}
.generete-btn:hover,
.generete-btn:focus {
  color: #9555af;
  border-color: currentColor;
  background-color: white;
}

/* сброс браузерных стилей для фокуса */
.generete-btn::-moz-focus-inner {
  border: none;
}
/* BUTTON STYLES END */

/* MODAL STYLES */
/* Стили для подложки */

.overlay {
   
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 20;
  transition: .3s all;
}


/* Стили для модальных окон */

.modal {
  
  opacity: 0;
  visibility: hidden;
  
  
  width: 100%;
  max-width: 500px;
  
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;

  box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2); 
  text-align: center;
  padding: 30px;
  border-radius: 3px;
  background-color: #fff;
  transition: 0.3s all;
}
.cat-modal-info, .user-modal-info {
  font-size: 1.5em;
}


/* Стили для активных классов подложки и окна */

.modal.active,
.overlay.active{
  opacity: 1;
  visibility: visible;
}


/* Стили для кнопки закрытия */

.modal__cross {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #444;
  cursor: pointer;
}
.modal__title {
  padding-bottom: 5%;
}